<div class="modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <h4 class="modal-title">{{d.headline.error}}</h4>
      </div>
      <form>
        <div class="modal-body">
          <div data-hook="message-container"></div>
        </div>
        <div class="modal-footer"><button data-dismiss="modal" class="btn btn-default btn-sm">{{d.action.ok}}</button></div>
      </form>
    </div>
  </div>
</div>