bin/
bin_test/
/.idea/*.iws
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/copyright/
/.idea/dictionaries/
/.idea/sonarlint/
/saros.intellij/build.properties
/saros.server/lib/
/saros.server/instr/
/saros.server/report/
/saros.ui/lib/swt-src.zip
/saros.ui/lib/swt-debug.jar
/saros.ui.frontend/html/node_modules/
/saros.ui.frontend/html/.tmp/
/saros.ui.frontend/html/test-results.xml
/saros.ui.frontend/html/bundle/
/saros.ui.frontend/html/dist/
/saros.ui.frontend/html/js/templates.js
/saros.ui.frontend/html/npm-debug.log
/saros.ui.frontend/html/package-lock.json
/saros.update/logs.zip
/saros.update/features/
/saros.update/plugins/
/saros.update_beta/logs.zip
/saros.update_beta/features/
/saros.update_beta/plugins/
/saros.eclipse/test/framework/stf/src/saros.eclipse/stf/client/configuration.properties
/saros.eclipse/lib
/saros.core/lib
/saros.ui/lib
/saros.whiteboard/lib
/saros.eclipse/build
/saros.core/build
/saros.ui/build
/saros.server/build
/saros.whiteboard/build
/saros.intellij/build
/saros.eclipse/.classpath
/saros.core/.classpath
/saros.ui/.classpath
/saros.server/.classpath
/saros.whiteboard/.classpath
/saros.intellij/.classpath
/saros.eclipse/.project
/saros.core/.project
/saros.ui/.project
/saros.server/.project
/saros.whiteboard/.project
/saros.whiteboard/frontend/package-lock.json
/saros.whiteboard/frontend/node_modules/
/saros.whiteboard/frontend/bower_components/
/saros.whiteboard/frontend/dist/
/saros.intellij/.project
.DS_Store
docs/_site
docs/Gemfile.lock
/.gradle/
/build/
