bin/
bin_test/
buildSrc/build
buildSrc/.gradle
/.idea/*.iws
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/jarRepositories.xml
/.idea/copyright/
/.idea/dictionaries/
/.idea/libraries/
/.idea/modules.xml
**/*.iml
/intellij/build.properties
/server/lib/
/server/instr/
/server/report/
/eclipse/update/logs.zip
/eclipse/update/features/
/eclipse/update/plugins/
/eclipse/update/artifacts.jar
/eclipse/update/content.jar
/stf/src/saros/stf/client/configuration.properties
/eclipse/lib
/eclipse/log4j2.xml
/eclipse/saros_log4j2.xml
/core/lib
/stf/lib
/stf.test/lib
/eclipse/build
/core/build
/server/build
/intellij/build
/stf/build
/stf.test/build
/eclipse/.classpath
/core/.classpath
/server/.classpath
/intellij/.classpath
/stf/.classpath
/stf.test/.classpath
/eclipse/.project
/core/.project
/server/.project
/intellij/.project
/stf/.project
/stf.test/.project
.DS_Store
docs/_site
docs/Gemfile.lock
.gradle/
/build/
**/.settings/org.eclipse.buildship.core.prefs
.classpath

# Common
.project

# LSP
lsp/.classpath
lsp/build

# VS Code
vscode*/.classpath
vscode*/.project
vscode*/build
vscode*/package-lock.json
vscode*/.vscode
*.vscode
*.code-workspace
*.vscodeignore
dist/
