bin/
bin_test/
/.idea/*.iws
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/copyright/
/.idea/dictionaries/
/.idea/sonarlint/
/de.fu_berlin.inf.dpp.intellij/build.properties
/de.fu_berlin.inf.dpp.server/lib/
/de.fu_berlin.inf.dpp.server/instr/
/de.fu_berlin.inf.dpp.server/report/
/de.fu_berlin.inf.dpp.ui/lib/swt-src.zip
/de.fu_berlin.inf.dpp.ui/lib/swt-debug.jar
/de.fu_berlin.inf.dpp.ui.frontend/html/node_modules/
/de.fu_berlin.inf.dpp.ui.frontend/html/.tmp/
/de.fu_berlin.inf.dpp.ui.frontend/html/test-results.xml
/de.fu_berlin.inf.dpp.ui.frontend/html/bundle/
/de.fu_berlin.inf.dpp.ui.frontend/html/dist/
/de.fu_berlin.inf.dpp.ui.frontend/html/js/templates.js
/de.fu_berlin.inf.dpp.ui.frontend/html/npm-debug.log
/de.fu_berlin.inf.dpp.ui.frontend/html/package-lock.json
/de.fu_berlin.inf.dpp.update/logs.zip
/de.fu_berlin.inf.dpp.update/features/
/de.fu_berlin.inf.dpp.update/plugins/
/de.fu_berlin.inf.dpp.update_beta/logs.zip
/de.fu_berlin.inf.dpp.update_beta/features/
/de.fu_berlin.inf.dpp.update_beta/plugins/
/de.fu_berlin.inf.dpp/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/client/configuration.properties
/de.fu_berlin.inf.dpp/lib
/de.fu_berlin.inf.dpp.core/lib
/de.fu_berlin.inf.dpp.ui/lib
/de.fu_berlin.inf.dpp.whiteboard/lib
/de.fu_berlin.inf.dpp/build
/de.fu_berlin.inf.dpp.core/build
/de.fu_berlin.inf.dpp.ui/build
/de.fu_berlin.inf.dpp.server/build
/de.fu_berlin.inf.dpp.whiteboard/build
/de.fu_berlin.inf.dpp.intellij/build
/de.fu_berlin.inf.dpp/.classpath
/de.fu_berlin.inf.dpp.core/.classpath
/de.fu_berlin.inf.dpp.ui/.classpath
/de.fu_berlin.inf.dpp.server/.classpath
/de.fu_berlin.inf.dpp.whiteboard/.classpath
/de.fu_berlin.inf.dpp.intellij/.classpath
/de.fu_berlin.inf.dpp/.project
/de.fu_berlin.inf.dpp.core/.project
/de.fu_berlin.inf.dpp.ui/.project
/de.fu_berlin.inf.dpp.server/.project
/de.fu_berlin.inf.dpp.whiteboard/.project
/de.fu_berlin.inf.dpp.whiteboard/frontend/package-lock.json
/de.fu_berlin.inf.dpp.whiteboard/frontend/node_modules/
/de.fu_berlin.inf.dpp.whiteboard/frontend/bower_components/
/de.fu_berlin.inf.dpp.intellij/.project
.DS_Store
docs/_site
docs/Gemfile.lock
/.gradle/
/build/
