<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Saros"
            name="Saros"/>
      <view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.RosterView"
            icon="icons/sample.gif"
            id="de.fu_berlin.inf.dpp.ui.RosterView"
            name="Roster"/>
      <view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.SessionView"
            icon="icons/sample.gif"
            id="de.fu_berlin.inf.dpp.ui.SessionView"
            name="Saros Session"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.fu_berlin.inf.dpp.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="Saros.menu1"
               label="Saros.menu1"/>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.NewSessionAction"
               icon="icons/transmit.png"
               id="Saros.action1"
               label="Share project...">
         </action>
         <visibility>
            <or>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
            </or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            id="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            label="Shared Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.inf.dpp.ui.PreferencePage"
            id="de.fu_berlin.inf.dpp.preferences.PreferencePage"
            name="Saros"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.fu_berlin.inf.dpp.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.fu_berlin.inf.dpp.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="de.fu_berlin.inf.dpp.menu"
               label="Saros &amp;Menu">
            <separator name="de.fu_berlin.inf.dpp.menu.group"/>
         </menu>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.NewAccountAction"
               icon="icons/vcard_add.png"
               id="de.fu_berlin.inf.dpp.ui.actions.createAccountAction"
               label="&amp;Create Account"
               menubarPath="de.fu_berlin.inf.dpp.menu/de.fu_berlin.inf.dpp.menu.group"
               />
      </actionSet>
   </extension>

</plugin>
