<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/view16/widget_gallery_misc.png">
         <run
               class="de.fu_berlin.inf.dpp.ui.widgetGallery.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Widget Gallery"
            class="de.fu_berlin.inf.dpp.ui.widgetGallery.application.Perspective"
            id="de.fu_berlin.inf.dpp.ui.widgetGallery.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.fu_berlin.inf.dpp.Developer"
            class="de.fu_berlin.inf.dpp.ui.widgetGallery.views.WidgetGalleryView"
            icon="icons/view16/widget_gallery_misc.png"
            id="de.fu_berlin.inf.dpp.ui.widgetGallery.WidgetGalleryView"
            name="Saros Widget Gallery"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.fu_berlin.inf.dpp.ui.widgetGallery.WidgetGalleryView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.views.SarosView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
