<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
    <category
            id="Saros"
            name="Saros"/>
	<view
            category="Saros"
            class="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
            icon="icons/saros-logo.png"
            id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
            name="Saros Whiteboard"/>
	</extension>
	<extension
         id="de.fu_berlin.inf.dpp.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="de.fu_berlin.inf.dpp.whiteboard.StartupWhiteboard">
      </startup>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.fu_berlin.inf.dpp.whiteboard.standalone.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.fu_berlin.inf.dpp.whiteboard.standalone.Perspective"
            id="de.fu_berlin.inf.dpp.whiteboard.standalone.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fu_berlin.inf.dpp.whiteboard.gef.editor.WhiteboardEditor"
            contributorClass="de.fu_berlin.inf.dpp.whiteboard.standalone.WhiteboardActionBarContributor"
            default="true"
            icon="noicon"
            id="de.fu_berlin.inf.dpp.whiteboard.whiteboardeditor"
            name="Whiteboard">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
        <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.python.pydev.ui.PythonPerspective">
        <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
        <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
