<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
		<view
			id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
            category="de.fu_berlin.inf.dpp.Saros"
            class="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
            icon="icons/view16/whiteboard_misc.png"
            name="Saros Whiteboard"/>
	</extension>
	<!-- HTML Whiteboard
	<extension 
		point="org.eclipse.ui.views">
		<view
			id="de.fu_berlin.inf.dpp.whiteboard.ui.HTMLWhiteboardView"
			category="de.fu_berlin.inf.dpp.Saros"
			class="de.fu_berlin.inf.dpp.whiteboard.ui.HTMLWhiteboardView"
			icon="icons/view16/whiteboard_misc.png"
			name="Saros HTML Whiteboard"/>
	</extension>
	end HTML Whiteboard -->
	<extension
         	id="de.fu_berlin.inf.dpp.startup"
         	point="org.eclipse.ui.startup">
      	<startup
            class="de.fu_berlin.inf.dpp.whiteboard.StartupWhiteboard"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="*">
         <view
               id="de.fu_berlin.inf.dpp.whiteboard.view.SarosWhiteboardView"
               ratio="0.5"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.views.SarosView"/>
      </perspectiveExtension>
   </extension>
   
   <!-- the application and perspective are used for a standalone whiteboard application 
   to manually test the graphical functionality quicklier and more easily without 
   having to start the whole eclipse IDE -->
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.fu_berlin.inf.dpp.whiteboard.standalone.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.fu_berlin.inf.dpp.whiteboard.standalone.Perspective"
            icon="icons/view16/whiteboard_misc.png"
            id="de.fu_berlin.inf.dpp.whiteboard.standalone.perspective"
            name="Saros Whiteboard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fu_berlin.inf.dpp.whiteboard.gef.editor.WhiteboardEditor"
            contributorClass="de.fu_berlin.inf.dpp.whiteboard.standalone.WhiteboardActionBarContributor"
            default="true"
            icon="icons/view16/whiteboard_misc.png"
            id="de.fu_berlin.inf.dpp.whiteboard.whiteboardeditor"
            name="Whiteboard">
      </editor>
   </extension>
</plugin>
