li(data-toggle="context")
    a(href="#" data-hook="display-name")
    span(data-hook="presence")
    div(data-hook="context-menu")
        ul.dropdown-menu(role="menu")
            li
                a(href="#", data-hook="rename")= d.action.rename
            li
                a(href="#", data-hook="delete")= d.action.delete