li(data-toggle="context")
    a(href="#")
        span(data-hook="display-name")
        span(data-hook="presence")
        span.label.label-success(data-hook="is-available")
            = d.label.online
    div(data-hook="context-menu")
        ul.dropdown-menu(role="menu")
            li
                a(href="#", data-hook="rename")= d.action.rename
            li
                a(href="#", data-hook="delete")= d.action.delete