div.modal
    div.modal-dialog.modal-sm
        div.modal-content.panel-danger
                div.modal-header.panel-heading
                    h4.modal-title= d.headline.error
                form
                    div.modal-body
                        div(data-hook="message-container")
                    div.modal-footer
                        button.btn.btn-default.btn-sm(data-dismiss="modal")= d.action.ok