body
	div#header
		nav.navbar.navbar-default
			p.navbar-text(data-hook="active-account")
			.navbar-form.btn-group
				button.btn.btn-default.btn-sm(type="button", data-hook="connection-button") Connect
				button.btn.btn-default.btn-sm.dropdown-toggle(data-toggle="dropdown")
					span.caret
					span.sr-only toggle
				ul.accounts.dropdown-menu(data-hook="account-list", role="menu")
					li
						a(href="#", data-hook="manage-accounts") Manage Accounts
