div.modal
    div.modal-dialog
        div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title= d.action.renameContact
                form
                    div.modal-body
                        fieldset(data-hook="field-container")
                        div
                            span= d.message.renameContact
                            span.font-bold(data-hook="jid")
                    div.modal-footer
                        button.btn.btn-default.btn-sm(data-dismiss="modal")= d.action.close
                        button.btn.btn-primary.btn-sm(data-hook="save", type="submit")= d.action.save