div
    nav.navbar.navbar-default
        h2= d.headline.selectProjects
        div= d.message.selectProjects
    div.content-container
        div(data-hook="jstree")
            ul(data-hook="project-trees")