.wizard-step .navbar {
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  height: 50px
}

.wizard-step .footer {
  bottom: 0;
}

.wizard-step .header {
  top: 0;
}

.wizard-step .wizard-body {
  overflow-y: scroll;
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
}