<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.6"?>

<plugin>
	<extension point="org.eclipse.e4.workbench.model" id="test_id_e4">
		<fragment
            apply="initial"
            uri="fragment.e4xmi">
      </fragment>
	</extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="saros.Saros"
            name="Saros"/>
      <category
            id="saros.Developer"
            name="Saros Development">
      </category>
     <view
           category="saros.Saros"
           class="saros.ui.views.SarosView"
           icon="icons/view16/saros_misc.png"
           id="saros.ui.views.SarosView"
           name="Saros">
     </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="*">
         <view
               id="saros.ui.views.SarosView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="saros.ui.decorators.SharedResourceDecorator"
            id="saros.ui.decorators.SharedResourceDecorator"
            label="Shared Resource Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="saros.ui.decorators.SharedActiveResourceDecorator"
            id="saros.ui.decorators.SharedActiveResourceDecorator"
            label="Shared Active Resource Decorator"
            lightweight="true"
            state="true">
         <enablement>
                 <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="saros.ui.preference_pages.GeneralPreferencePage"
            id="saros.preferences"
            name="Saros"/>
      <page
            category="saros.preferences"
            class="saros.ui.preference_pages.AdvancedPreferencePage"
            id="saros.preferences.advanced"
            name="Advanced"/>
      <page
            category="saros.preferences"
            class="saros.ui.preference_pages.NetworkPreferencePage"
            id="saros.preferences.network"
            name="Network"/>
      <page
            category="saros.preferences"
            class="saros.ui.preference_pages.CommunicationPreferencePage"
            id="saros.preferences.communication"
            name="Communication">
      </page>
      <page
              category="saros.preferences"
              class="saros.ui.preference_pages.PersonalizationPreferencePage"
              id="saros.preferences.personalization"
              name="Personalization">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="saros.preferences.EclipsePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="saros.editor.internal.SharedDocumentProvider"
            id="Saros.shared_document_provider"
            inputTypes="org.eclipse.ui.IFileEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type name="saros.annotations.viewport.default"/>
      <type name="saros.annotations.viewport.1"/>
      <type name="saros.annotations.viewport.2"/>
      <type name="saros.annotations.viewport.3"/>
      <type name="saros.annotations.viewport.4"/>
      <type name="saros.annotations.viewport.5"/>
      <type name="saros.annotations.contribution.default"/>
      <type name="saros.annotations.contribution.1"/>
      <type name="saros.annotations.contribution.2"/>
      <type name="saros.annotations.contribution.3"/>
      <type name="saros.annotations.contribution.4"/>
      <type name="saros.annotations.contribution.5"/>
      <type name="saros.annotations.selection.default"/>
      <type name="saros.annotations.selection.1"/>
      <type name="saros.annotations.selection.2"/>
      <type name="saros.annotations.selection.3"/>
      <type name="saros.annotations.selection.4"/>
      <type name="saros.annotations.selection.5"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <!-- viewports -->
      <specification
            annotationType="saros.annotations.viewport.default"
            colorPreferenceKey="saros.annotations.viewport.color.default"
            colorPreferenceValue="128,128,128"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.default"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros Default User Viewport"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.default"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.default"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.default"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.viewport.1"
            colorPreferenceKey="saros.annotations.viewport.color.1"
            colorPreferenceValue="141,206,231"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.1"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros User 1 Viewport"
            icon="icons/etool16/saros_menu.png"            
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.1"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.1"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.viewport.2"
            colorPreferenceKey="saros.annotations.viewport.color.2"
            colorPreferenceValue="191,187,130"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.2"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros User 2 Viewport"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.2"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.2"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.viewport.3"
            colorPreferenceKey="saros.annotations.viewport.color.3"
            colorPreferenceValue="186,220,81"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.3"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros User 3 Viewport"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.3"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.3"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.viewport.4"
            colorPreferenceKey="saros.annotations.viewport.color.4"
            colorPreferenceValue="237,237,169"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.4"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros User 4 Viewport"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.4"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.4"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.viewport.5"
            colorPreferenceKey="saros.annotations.viewport.color.5"
            colorPreferenceValue="137,180,178"
            contributesToHeader="true"
            highlightPreferenceKey="saros.annotations.viewport.highlight.5"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Saros User 5 Viewport"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.viewport.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="saros.annotations.viewport.text.5"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="saros.annotations.viewport.ruler.5"
            verticalRulerPreferenceValue="false"/>

      <!-- contributions -->
      <specification
            annotationType="saros.annotations.contribution.default"
            colorPreferenceKey="saros.annotations.contribution.color.default"
            highlightPreferenceKey="saros.annotations.contribution.highlight.default"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.default"
            textPreferenceKey="saros.annotations.contribution.text.default"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.default"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.default"
            colorPreferenceValue="128,128,128"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros Default User Contribution"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.contribution.1"
            colorPreferenceKey="saros.annotations.contribution.color.1"
            highlightPreferenceKey="saros.annotations.contribution.highlight.1"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.1"
            textPreferenceKey="saros.annotations.contribution.text.1"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.1"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.1"
            colorPreferenceValue="141,206,231"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 1 Contribution"
            icon="icons/etool16/saros_menu.png"            
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.contribution.2"
            colorPreferenceKey="saros.annotations.contribution.color.2"
            highlightPreferenceKey="saros.annotations.contribution.highlight.2"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.2"
            textPreferenceKey="saros.annotations.contribution.text.2"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.2"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.2"
            colorPreferenceValue="191,187,130"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 2 Contribution"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="saros.annotations.contribution.3"
            colorPreferenceKey="saros.annotations.contribution.color.3"
            highlightPreferenceKey="saros.annotations.contribution.highlight.3"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.3"
            textPreferenceKey="saros.annotations.contribution.text.3"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.3"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.3"
            colorPreferenceValue="186,220,81"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 3 Contribution"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="saros.annotations.contribution.4"
            colorPreferenceKey="saros.annotations.contribution.color.4"
            highlightPreferenceKey="saros.annotations.contribution.highlight.4"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.4"
            textPreferenceKey="saros.annotations.contribution.text.4"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.4"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.4"
            colorPreferenceValue="237,237,169"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 4 Contribution"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.contribution.5"
            colorPreferenceKey="saros.annotations.contribution.color.5"
            highlightPreferenceKey="saros.annotations.contribution.highlight.5"
            overviewRulerPreferenceKey="saros.annotations.contribution.overview.5"
            textPreferenceKey="saros.annotations.contribution.text.5"
            textStylePreferenceKey="saros.annotations.contribution.textstyle.5"
            verticalRulerPreferenceKey="saros.annotations.contribution.ruler.5"
            colorPreferenceValue="137,180,178"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 5 Contribution"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>

      <!-- selections -->
      <specification
            annotationType="saros.annotations.selection.default"
            colorPreferenceKey="saros.annotations.selection.color.default"
            colorPreferenceValue="128,128,128"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.default"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros Default User Selection"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.selection.overview.default"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="saros.annotations.selection.text.default"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.default"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.default"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.selection.1"
            colorPreferenceKey="saros.annotations.selection.color.1"
            colorPreferenceValue="183,224,240"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.1"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 1 Selection"
            icon="icons/etool16/saros_menu.png"            
            overviewRulerPreferenceKey="saros.annotations.selection.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="9"
            textPreferenceKey="saros.annotations.selection.text.1"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.1"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.1"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.selection.2"
            colorPreferenceKey="saros.annotations.selection.color.2"
            colorPreferenceValue="208,205,164"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.2"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 2 Selection"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.selection.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="10"
            textPreferenceKey="saros.annotations.selection.text.2"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.2"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.2"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.selection.3"
            colorPreferenceKey="saros.annotations.selection.color.3"
            colorPreferenceValue="220,237,166"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.3"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 3 Selection"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.selection.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="11"
            textPreferenceKey="saros.annotations.selection.text.3"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.3"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.3"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.selection.4"
            colorPreferenceKey="saros.annotations.selection.color.4"
            colorPreferenceValue="246,246,211"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.4"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 4 Selection"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.selection.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="12"
            textPreferenceKey="saros.annotations.selection.text.4"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.4"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.4"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="saros.annotations.selection.5"
            colorPreferenceKey="saros.annotations.selection.color.5"
            colorPreferenceValue="184,210,209"
            contributesToHeader="false"
            highlightPreferenceKey="saros.annotations.selection.highlight.5"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Saros User 5 Selection"
            icon="icons/etool16/saros_menu.png"
            overviewRulerPreferenceKey="saros.annotations.selection.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="13"
            textPreferenceKey="saros.annotations.selection.text.5"
            textPreferenceValue="true"
            textStylePreferenceKey="saros.annotations.selection.textstyle.5"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="saros.annotations.selection.ruler.5"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         id="saros.modelProvider"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider class="saros.session.resources.validation.ResourceChangeValidator"/>
      <enablement>
         <instanceof value="org.eclipse.core.resources.IResource"/>
      </enablement>
   </extension>
   <extension
         id="saros.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="saros.StartupSaros">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:saros.ui.views.SarosView?before=menustart">
         <command
               commandId="saros.ui.commands.ShareResource"
               disabledIcon="icons/dlcl16/spacer.png"
               icon="icons/elcl16/session_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="saros.ui.definitions.isConnected">
                  </reference>
                  <not>
                     <reference
                           definitionId="saros.ui.definitions.isSarosSessionRunning">
                     </reference>
                  </not>
                  <reference
                        definitionId="saros.ui.definitions.sessionHeadlineSelected">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="saros.ui.commands.SessionAddResources"
               disabledIcon="icons/dlcl16/session_add_reference_points_tsk.png"
               icon="icons/elcl16/session_add_reference_points_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="saros.ui.definitions.isConnected">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.isSarosSessionRunning">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.sessionHeadlineSelected">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="saros.ui.commands.AddContact"
               disabledIcon="icons/dlcl16/contact_add_tsk.png"
               icon="icons/elcl16/contact_add_tsk.png"
               style="push">
            <visibleWhen checkEnabled="false">
               <and>
                  <not>
                     <reference definitionId="saros.ui.definitions.contactsSelected" />
                  </not>
                  <not>
                     <reference definitionId="saros.ui.definitions.participantsSelected" />
                  </not>
                  <not>
                     <reference definitionId="saros.ui.definitions.sessionHeadlineSelected" />
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="saros.ui.commands.SessionAddContacts"
               disabledIcon="icons/dlcl16/session_add_contacts_tsk.png"
               icon="icons/elcl16/session_add_contacts_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="saros.ui.definitions.isConnected">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.isSarosSessionRunning">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.sessionHeadlineSelected">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.isSarosSessionHost">
                  </reference>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="CollaborationStart"
               visible="true">
         </separator>
         <separator
               name="CollaborationEnd"
               visible="false">
         </separator>
      </menuContribution>
      
      <!-- Eclipse Context Menus Hooks !-->
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="saros.ui.commands.ShareResource"
               disabledIcon="icons/dlcl16/spacer.png"
               icon="icons/elcl16/session_tsk.png"
               label="Share Resource(s)..."
               style="push"
               tooltip="Share the Selected Resources With Your Contacts">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <not>
                     <reference
                           definitionId="saros.ui.definitions.isSarosSessionRunning">
                     </reference>
                  </not>
                  <reference
                        definitionId="saros.ui.definitions.resourcesSelected">
                  </reference>
               </and>
            </visibleWhen>
         </command>
            <command
                  commandId="saros.ui.commands.SessionAddSelectedResources"
                  disabledIcon="icons/dlcl16/session_add_reference_points_tsk.png"
                  icon="icons/elcl16/session_add_reference_points_tsk.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="saros.ui.definitions.isConnected">
                     </reference>
                     <reference
                           definitionId="saros.ui.definitions.isSarosSessionRunning">
                     </reference>
                     <reference
                           definitionId="saros.ui.definitions.resourcesSelected">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=menustart">
         <!-- See SarosView, the context menu is created manually 
         <command
               commandId="saros.ui.commands.ShareResource"
               disabledIcon="icons/dlcl16/spacer.png"
               icon="icons/elcl16/session_tsk.png"
               label="Share Project(s)..."
               style="push"
               tooltip="Share Projects With Selected Contacts">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <not>
                     <reference
                           definitionId="saros.ui.definitions.isSarosSessionRunning">
                     </reference>
                  </not>
                  <reference
                        definitionId="saros.ui.definitions.contactsSelected">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         -->
         <command
               commandId="saros.ui.commands.SessionAddSelectedContacts"
               disabledIcon="icons/dlcl16/session_add_contacts_tsk.png"
               icon="icons/elcl16/session_add_contacts_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="saros.ui.definitions.isConnected">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.isSarosSessionRunning">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.isSarosSessionHost">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.contactsSelected">
                  </reference>
                  <reference
                        definitionId="saros.ui.definitions.contactsOnline">
                  </reference>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="saros.ui.definitions.isResource"
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="saros.ui.definitions.isConnected">
         <with
               variable="saros.Saros">
            <test
                  property="saros.isConnected">
            </test>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.isSarosSessionRunning">
         <with
               variable="saros.SarosSession">
            <instanceof
                  value="saros.session.internal.SarosSession">
            </instanceof>
         </with>
      </definition>
      <definition id="saros.ui.definitions.notIsSarosSessionRunning">
      	<not>
      		<reference definitionId="saros.ui.definitions.isSarosSessionRunning">
        	</reference>
      	</not>
      </definition>
      <definition id="saros.ui.definitions.isConnectedAndSarosSessionRunning">
      	<and>
      		<reference definitionId="saros.ui.definitions.isConnected">
        	</reference>
        	<reference definitionId="saros.ui.definitions.isSarosSessionRunning">
        	</reference>
      	</and>
      </definition>      
      <definition
            id="saros.ui.definitions.isSarosSessionHost">
         <with
               variable="saros.SarosSession">
            <test
                  property="saros.isHost">
            </test>
         </with>
      </definition>
      <definition id="saros.ui.definitions.isConnectedAndSarosSessionRunningAndSarosSessionHost">
      	<and>
      		<reference definitionId="saros.ui.definitions.isConnected">
        	</reference>
        	<reference definitionId="saros.ui.definitions.isSarosSessionRunning">
        	</reference>
        	<reference definitionId="saros.ui.definitions.isSarosSessionHost">
        	</reference>
      	</and>
      </definition>
      <definition id="saros.ui.definitions.isConnectedAndSarosSessionRunningAndNotSarosSessionHost">
      	<and>
      		<reference definitionId="saros.ui.definitions.isConnected">
        	</reference>
        	<reference definitionId="saros.ui.definitions.isSarosSessionRunning">
        	</reference>
        	<not>
	        	<reference definitionId="saros.ui.definitions.isSarosSessionHost">
	        	</reference>
	        </not>
      	</and>
      </definition>
      <definition
            id="saros.ui.definitions.isInSarosSession">
         <or>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="saros.isInSarosSession">
               </test>
            </adapt>
            <adapt
                  type="saros.net.xmpp.JID">
               <test
                     property="saros.isInSarosSession">
               </test>
            </adapt>
         </or>
      </definition>
      <definition
            id="saros.ui.definitions.isProject">
         <adapt
               type="org.eclipse.core.resources.IProject">
         </adapt>
      </definition>
      <definition
            id="saros.ui.definitions.projectsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isProject">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.singleProjectsSelected">
         <and>
            <reference
                  definitionId="saros.ui.definitions.projectsSelected">
            </reference>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </and>
      </definition>
      <definition
            id="saros.ui.definitions.multipleProjectsSelected">
         <and>
            <reference
                  definitionId="saros.ui.definitions.projectsSelected">
            </reference>
            <with
                  variable="selection">
               <and>
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <not>
                     <count
                           value="1">
                     </count>
                  </not>
               </and>
            </with>
         </and>
      </definition>
      <definition
            id="saros.ui.definitions.resourcesSelectedInSarosSession">
         <with
               variable="selection">
            <iterate
                  ifEmpty="true"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isResource">
               </reference>
               <reference
                     definitionId="saros.ui.definitions.isInSarosSession">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.contactsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isContact">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.isContact">
         <adapt
               type="saros.net.xmpp.JID">
         </adapt>
      </definition>
      <definition
      		id="saros.ui.definitions.isContactOnline">
         <adapt
               type="saros.net.xmpp.JID">
            <test
                  property="saros.isOnline">
            </test>
         </adapt>
      </definition>
            <definition
            id="saros.ui.definitions.contactsOnline">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isContactOnline">
               </reference>
            </iterate>
         </with>
      </definition>      
      <definition
            id="saros.ui.definitions.contactsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isContact">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.contactsSelectedInSarosSession">
         <with
               variable="selection">
            <iterate
                  ifEmpty="true"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isContact">
               </reference>
               <reference
                     definitionId="saros.ui.definitions.isInSarosSession">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.isParticipant">
         <adapt
               type="saros.session.User">
         </adapt>
      </definition>
      <definition
            id="saros.ui.definitions.singleParticipantSelected">
         <and>
            <reference
                  definitionId="saros.ui.definitions.participantsSelected">
            </reference>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </and>
      </definition>
      <definition
            id="saros.ui.definitions.participantsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isParticipant">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.participantIsRemote">
         <adapt
               type="saros.session.User">
            <test
                  property="saros.isRemote">
            </test>
         </adapt>
      </definition>
      <definition
            id="saros.ui.definitions.participantsHasWriteAccess">
         <adapt
               type="saros.session.User">
            <test
                  property="saros.hasWriteAccess">
            </test>
         </adapt>
      </definition>
      <definition
            id="saros.ui.definitions.containsParticipantsWithoutWriteAccess">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <reference
                     definitionId="saros.ui.definitions.participantsHasWriteAccess">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.containsRemoteParticipants">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <reference
                     definitionId="saros.ui.definitions.participantIsRemote">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.isResource">
         <adapt
               type="org.eclipse.core.resources.IResource">
         </adapt>
      </definition>
      <definition
            id="saros.ui.definitions.resourcesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="saros.ui.definitions.isResource">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.sessionHeadlineSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="saros.ui.model.session.SessionHeaderElement">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="saros.ui.definitions.hasWriteAccess">
         <with
               variable="saros.SarosSession">
            <test
                  property="saros.hasWriteAccess">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="saros.service_providers.SarosSourceProvider">
         <variable
               name="saros.Saros"
               priorityLevel="workbench">
         </variable>
         <variable
               name="saros.SarosSession"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="saros.ui.expressions.SarosPropertyTester"
            id="saros.propertyTesters.SarosPropertyTester"
            namespace="saros"
            properties="isConnected"
            type="saros.Saros">
      </propertyTester>
      <propertyTester
            class="saros.ui.expressions.SarosSessionPropertyTester"
            id="saros.propertyTesters.SarosSessionPropertyTester"
            namespace="saros"
            properties="isHost,hasWriteAccess"
            type="saros.session.ISarosSession">
      </propertyTester>
      <propertyTester
            class="saros.ui.expressions.ResourcePropertyTester"
            id="saros.propertyTesters.ResourcePropertyTester"
            namespace="saros"
            properties="isInSarosSession"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="saros.ui.expressions.ContactPropertyTester"
            id="saros.ui.expressions.ContactPropertyTester"
            namespace="saros"
            properties="isInSarosSession,isOnline"
            type="saros.net.xmpp.JID">
      </propertyTester>
      <propertyTester
            class="saros.ui.expressions.UserPropertyTester"
            id="saros.ui.expressions.UserPropertyTester"
            namespace="saros"
            properties="hasWriteAccess,isRemote"
            type="saros.session.User">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="saros.ui.model.roster.RosterEntryElement"
            class="saros.ui.model.roster.RosterAdapterFactory">
         <adapter
               type="saros.net.xmpp.contact.XMPPContact">
         </adapter>
         <adapter
               type="saros.net.xmpp.JID">
         </adapter>
      </factory>
      <factory
            adaptableType="saros.ui.model.session.UserElement"
            class="saros.ui.model.session.SessionContentAdapterFactory">
         <adapter
               type="saros.session.User">
         </adapter>
      </factory>
      <factory
            adaptableType="saros.ui.model.session.AwarenessInformationTreeElement"
            class="saros.ui.model.session.SessionContentAdapterFactory">
         <adapter
               type="saros.session.User">
         </adapter>
      </factory>
      <factory
            adaptableType="saros.ui.model.session.FollowModeInformationTreeElement"
            class="saros.ui.model.session.SessionContentAdapterFactory">
         <adapter
               type="saros.session.User">
         </adapter>
      </factory>
   </extension>
</plugin>
