<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Saros Plugin</title>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/saros.js"></script>
    <script src="js/controllers.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/saros.css"/>
</head>
<body>
<div id="toolbar" ng-controller="ToolbarController">
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-danger" ng-click="connect()" ng-disabled="buttonDisabled">
            {{connectButtonText}}
        </button>
        <button type="button" class="btn btn-danger dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="account in accounts">
                <a class="accountEntry" href="#" ng-click="connectUser(account)">{{account.username}}@{{account.domain}}</a>
            </li>
            <li ng-show="accounts" class="divider"></li>
            <button type="button" class="btn" id="addAccountButton" ng-click="showAddAccountWizard()">Add
                Account</button>
        </ul>
    </div>
    <button type="button" class="btn btn-primary"
            ng-click="showAddContactWizard()">Add Contact...
    </button>
</div>

<div id="roster"
     ng-controller="ContactListCtrl">
    <h3 ng-show="root" ng-model="root">{{root}}</h3>
    <h4 context-menu data-target="menu-shareproject">No Session Running</h4>
    <h4 context-menu data-target="menu-addcontact">Contacts</h4>

    <ul id="contact-list">
        <li context-menu="selectContact(contact.name)" ng-repeat="contact in contacts"
            data-target="menu-contact">
            <span>{{contact.name}}</span>
            <span>[{{contact.presence}}]</span>
            <span ng-show="contact.addition">({{contact.addition}})</span>
        </li>
    </ul>

    <div class="dropdown position-fixed" id="menu-contact">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="">
                    Work together on...
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="">
                    Send File
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="3"
                   ng-click="renameContact()">
                    Rename...
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="4"
                   ng-click="deleteContact()">
                    Delete
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="5"
                   ng-click="">
                    Show Unavailable Message
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown position-fixed" id="menu-addcontact">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="">
                    Add Contact...
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown position-fixed" id="menu-shareproject">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="">
                    Share Project...
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
