<div>
  <nav class="navbar navbar-default">
    <h2>{{d.headline.selectProjects}}</h2>
    <div>{{d.message.selectProjects}}</div>
  </nav>
  <div class="wizard-content-container">
    <div data-hook="jstree">
      <ul data-hook="project-trees"></ul>
    </div>
  </div>
</div>