<div role="dialog" tabindex="-1" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{d.action.addContact}}</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="info">{{d.message.addContactInfo}}</div>
          <fieldset data-hook="field-container"></fieldset>
        </div>
        <div class="modal-footer"><button data-dismiss="modal" class="btn btn-default btn-sm">{{d.action.close}}</button><button data-hook="add" type="submit" class="btn btn-primary btn-sm">{{d.action.add}}</button></div>
      </form>
    </div>
  </div>
</div>