<div class="marked-container">
  <h4 class="collapsible"><span>{{d.headline.contacts}}</span><small class="collapse-trigger"><span data-hook="collapse-trigger" class="glyphicon"></span></small></h4>
  <ul data-hook="contact-list" class="nav nav-pills nav-stacked"></ul>
</div>