<li data-toggle="context"><a href="#"><span data-hook="display-name"></span><span data-hook="presence"></span><span data-hook="is-available" class="label label-success">{{d.label.online}}</span></a>
  <div data-hook="context-menu">
    <ul role="menu" class="dropdown-menu">
      <li><a href="#" data-hook="rename">{{d.action.rename}}</a></li>
      <li><a href="#" data-hook="delete">{{d.action.delete}}</a></li>
    </ul>
  </div>
</li>