div.marked-container
    h4.collapsible
        span= d.headline.contacts
        small.collapse-trigger
            span.glyphicon(data-hook="collapse-trigger")
    ul.nav.nav-pills.nav-stacked(data-hook="contact-list")