<div role="dialog" tabindex="-1" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{d.action.deleteContact}}</h4>
      </div>
      <div class="modal-body">{{d.message.deleteContact}}</div>
      <div class="modal-footer"><button data-dismiss="modal" class="btn btn-default btn-sm">{{d.action.cancel}}</button><button data-hook="delete" type="submit" class="btn btn-danger btn-sm">{{d.action.delete}}</button></div>
    </div>
  </div>
</div>