<div role="dialog" tabindex="-1" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{d.action.renameContact}}</h4>
      </div>
      <form>
        <div class="modal-body">
          <fieldset data-hook="field-container"></fieldset>
          <div><span>{{d.message.renameContact}}</span><span data-hook="jid" class="font-bold"></span></div>
        </div>
        <div class="modal-footer"><button data-dismiss="modal" class="btn btn-default btn-sm">{{d.action.close}}</button><button data-hook="save" type="submit" class="btn btn-primary btn-sm">{{d.action.save}}</button></div>
      </form>
    </div>
  </div>
</div>