<div>
  <nav class="navbar navbar-default">
    <h2>{{d.headline.selectContacts}}</h2>
    <div>{{d.message.selectContacts}}</div>
  </nav>
  <div class="wizard-content-container">
    <div class="container">
      <ul data-hook="contacts-list" class="list-group"></ul>
    </div>
  </div>
</div>