div
    nav.navbar.navbar-default
        h2= d.headline.selectContacts
        div= d.message.selectContacts
    div.wizard-content-container
        div.container
            ul.list-group(data-hook="contacts-list")
