<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="de.fu_berlin.inf.dpp.Saros"
            name="Saros"/>
      <category
            id="de.fu_berlin.inf.dpp.Developer"
            name="Saros Development">
      </category>
      <view
            category="de.fu_berlin.inf.dpp.Saros"
            class="de.fu_berlin.inf.dpp.ui.RosterView"
            icon="icons/view16/rostr_misc.png"
            id="de.fu_berlin.inf.dpp.ui.RosterView"
            name="Saros Buddies"/>
      <view
            category="de.fu_berlin.inf.dpp.Saros"
            class="de.fu_berlin.inf.dpp.ui.SessionView"
            icon="icons/transmit.png"
            id="de.fu_berlin.inf.dpp.ui.SessionView"
            name="Saros Session"/>
      <view
            category="de.fu_berlin.inf.dpp.Saros"
            class="de.fu_berlin.inf.dpp.ui.chat.ChatView"
            icon="icons/view16/chat_misc.png"
            id="de.fu_berlin.inf.dpp.ui.chat.ChatView"
            name="Saros Chat"/>
     <view
            category="de.fu_berlin.inf.dpp.Saros"
            class="de.fu_berlin.inf.dpp.videosharing.player.VideoPlayerView"
            icon="icons/view16/video_misc.png"
            id="de.fu_berlin.inf.dpp.videosharing.player.VideoPlayerView"
            name="Remote Screen"
            restorable="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.chat.ChatView"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               minimized="false"
               ratio="0.3"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.chat.ChatView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.chat.ChatView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.python.pydev.ui.PythonPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               minimized="false"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
         <view
               id="de.fu_berlin.inf.dpp.ui.ChatView"
               relationship="stack"
               relative="de.fu_berlin.inf.dpp.ui.RosterView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.fu_berlin.inf.dpp.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IResource"
            sibling_order="&lt;action&#x0A;               class=&quot;de.fu_berlin.inf.dpp.ui.actions.NewSessionAction&quot;&#x0A;               icon=&quot;icons/transmit.png&quot;&#x0A;               id=&quot;Saros.action1&quot;&#x0A;               label=&quot;Share project...&quot;&gt;&#x0A;         &lt;/action&gt;">
         <menu
               icon="icons/etool16/saros_menu.png"
               id="sarosSubMenu"
               label="Saros">
               <separator name="Saros"/>
         </menu>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.AddToSessionAction"
               icon="icons/transmit.png"
               id="Saros.action4"
               label="Add to session (experimental)..."
               menubarPath="sarosSubMenu/group1">
         </action>
         <!---
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.PartialNewSessionAction"
               icon="icons/transmit.png"
               id="Saros.action3"
               label="Share project partially (experimental)..."
               menubarPath="sarosSubMenu/group1">
         </action>
         -->
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.NewSessionAction"
               icon="icons/transmit.png"
               id="Saros.action1"
               label="Share project..."
               menubarPath="sarosSubMenu/group1">
         </action>
         <visibility>
               <objectClass name="org.eclipse.core.resources.IProject"/>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            id="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            label="Shared Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IProject"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectFileDecorator"
            id="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectFileDecorator"
            label="Shared Project File Decorator"
            lightweight="true"
            state="true">
         <enablement>
      	   	<objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.inf.dpp.ui.preferencePages.GeneralPreferencePage"
            id="de.fu_berlin.inf.dpp.preferences"
            name="Saros"/>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.ui.preferencePages.AdvancedPreferencePage"
            id="de.fu_berlin.inf.dpp.preferences.advanced"
            name="Advanced"/>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.ui.preferencePages.FeedbackPreferencePage"
            id="de.fu_berlin.dpp.preferences.feedback"
            name="Feedback"/>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.ui.preferencePages.CommunicationPreferencePage"
            id="de.fu_berlin.dpp.preferences.communication"
            name="Communication">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.VideoSharingPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.VideoSharingPreferencePage"
            name="Screensharing">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.videosharing.preferences.VideoSharingPreferencePage"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.EncoderPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.EncoderPreferencePage"
            name="Encoder">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.videosharing.preferences.EncoderPreferencePage"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.XugglerEncoderPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.XugglerEncoderPreferencePage"
            name="Xuggler">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.videosharing.preferences.EncoderPreferencePage"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.ImageTileEncoderPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.ImageTileEncoderPreferencePage"
            name="Image-Tile">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.videosharing.preferences.VideoSharingPreferencePage"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.VideoPlayerPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.VideoPlayerPreferencePage"
            name="Remote screen view">
      </page>
      <page
            category="de.fu_berlin.inf.dpp.videosharing.preferences.VideoSharingPreferencePage"
            class="de.fu_berlin.inf.dpp.videosharing.preferences.ScreenPreferencePage"
            id="de.fu_berlin.inf.dpp.videosharing.preferences.ScreenPreferencePage"
            name="Desktop">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.fu_berlin.inf.dpp.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="de.fu_berlin.inf.dpp.editor.internal.SharedDocumentProvider"
            id="Saros.shared_document_provider"
            inputTypes="org.eclipse.ui.IFileEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.5"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.5"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.5"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.1"
            colorPreferenceValue="255,128,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.1"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.1"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.1"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.2"
            colorPreferenceValue="128,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.2"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.2"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.2"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.3"
            colorPreferenceValue="128,128,255"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.3"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.3"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.3"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.4"
            colorPreferenceValue="255,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.4"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.4"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.4"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.5"
            colorPreferenceValue="128,255,255"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.5"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.5"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.5"
            verticalRulerPreferenceValue="true"/>

      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler"
            colorPreferenceValue="211,224,234"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceValue="false"/>
      
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.1"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.1"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.1"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.1"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.1"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.1"
            colorPreferenceValue="255,200,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.2"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.2"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.2"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.2"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.2"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.2"
            colorPreferenceValue="200,255,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.3"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.3"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.3"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.3"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.3"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.3"
            colorPreferenceValue="200,200,255"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.4"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.4"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.4"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.4"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.4"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.4"
            colorPreferenceValue="255,255,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.5"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.5"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.5"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.5"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.5"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.5"
            colorPreferenceValue="200,255,255"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.1"
            colorPreferenceValue="255,128,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.1"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of buddy 1"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.1"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.1"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.1"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.2"
            colorPreferenceValue="128,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.2"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of buddy 2"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.2"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.2"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.2"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.3"
            colorPreferenceValue="128,128,255"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.3"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of buddy 3"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.3"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.3"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.3"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.4"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.4"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of buddy 4"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.4"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.4"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.4"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.5"
            colorPreferenceValue="128,255,255"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.5"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of buddy 5"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.5"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.5"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.5"
            verticalRulerPreferenceValue="false"/>

   </extension>
   <extension
         id="de.fu_berlin.inf.dpp.modelProvider"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider class="de.fu_berlin.inf.dpp.project.internal.ResourceChangeValidator"/>
      <enablement>
         <instanceof value="org.eclipse.core.resources.IResource"/>
      </enablement>
   </extension>
   <extension
         id="de.fu_berlin.inf.dpp.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="de.fu_berlin.inf.dpp.StartupSaros">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="de.fu_berlin.inf.dpp.vcs.SubclipseConsoleListener"
            id="Saros.consolePatternMatchListener1"
            regex=".+">
         <enablement>
            <test
                  property="org.eclipse.ui.console.consoleTypeTest"
                  value="SVN">
            </test></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.project"
            id="de.fu_berlin.inf.dpp.ui.commands.CreateXMPPAccount"
            name="Create XMPP/Jabber Account...">
      </command>
      <command
            categoryId="org.eclipse.ui.category.project"
            id="de.fu_berlin.inf.dpp.ui.commands.OpenSarosPreferences"
            name="Preferences...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fu_berlin.inf.dpp.ui.commandHandlers.CreateXMPPAccountHandler"
            commandId="de.fu_berlin.inf.dpp.ui.commands.CreateXMPPAccount">
      </handler>
      <handler
            class="de.fu_berlin.inf.dpp.ui.commandHandlers.OpenSarosPreferencesHandler"
            commandId="de.fu_berlin.inf.dpp.ui.commands.OpenSarosPreferences">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Saros">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
            <separator
                  name="RosterStart"
                  visible="true">
            </separator>
            <command
                  commandId="de.fu_berlin.inf.dpp.ui.commands.CreateXMPPAccount"
                  icon="icons/elcl16/xmpp_create_account_tsk.png"
                  style="push">
            </command>
            <separator
                  name="RosterEnd"
                  visible="true">
            </separator>
            <separator
                  name="CollaborationStart"
                  visible="true">
            </separator>
            <separator
                  name="CollaborationEnd"
                  visible="true">
            </separator>
            <separator
                  name="OtherStart"
                  visible="true">
            </separator>
            <separator
                  name="OtherEnd"
                  visible="true">
            </separator>
            <separator
                  name="additions">
            </separator>
            <command
                  commandId="de.fu_berlin.inf.dpp.ui.commands.OpenSarosPreferences"
                  icon="icons/elcl16/preferences_open_tsk.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.isProject">
         <adapt
               type="org.eclipse.core.resources.IProject">
         </adapt>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.projectsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="de.fu_berlin.inf.dpp.ui.definitions.isProject">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.singleProjectsSelected">
         <and>
            <reference
                  definitionId="de.fu_berlin.inf.dpp.ui.definitions.projectsSelected">
            </reference>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </and>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.multipleProjectsSelected">
         <and>
            <reference
                  definitionId="de.fu_berlin.inf.dpp.ui.definitions.projectsSelected">
            </reference>
            <with
                  variable="selection">
               <and>
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <not>
                     <count
                           value="1">
                     </count>
                  </not>
               </and>
            </with>
         </and>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.buddiesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="de.fu_berlin.inf.dpp.ui.definitions.isProject">
               </reference>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.isBuddy">
         <adapt
               type="de.fu_berlin.inf.dpp.net.JID">
         </adapt>
      </definition>
      <definition
            id="de.fu_berlin.inf.dpp.ui.definitions.buddiesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="de.fu_berlin.inf.dpp.ui.definitions.isBuddy">
               </reference>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fu_berlin.inf.dpp.ui.model.roster.RosterGroupElement"
            class="de.fu_berlin.inf.dpp.ui.model.roster.RosterAdapterFactory">
         <adapter
               type="org.jivesoftware.smack.RosterGroup">
         </adapter>
      </factory>
      <factory
            adaptableType="de.fu_berlin.inf.dpp.ui.model.roster.RosterEntryElement"
            class="de.fu_berlin.inf.dpp.ui.model.roster.RosterAdapterFactory">
         <adapter
               type="org.jivesoftware.smack.RosterEntry">
         </adapter>
         <adapter
               type="de.fu_berlin.inf.dpp.net.JID">
         </adapter>
      </factory>
   </extension>
</plugin>
