<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Saros"
            name="Saros"/>
      <view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.RosterView"
            icon="icons/group.png"
            id="de.fu_berlin.inf.dpp.ui.RosterView"
            name="Roster"/>
      <view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.SessionView"
            icon="icons/transmit.png"
            id="de.fu_berlin.inf.dpp.ui.SessionView"
            name="Saros Session"/>
      <view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.ChatView"
            icon="icons/comment.png"
            id="de.fu_berlin.inf.dpp.ui.ChatView"
            name="Chat"/>
	 <!--<view
            category="Saros"
            class="de.fu_berlin.inf.dpp.ui.NetworkView"
            icon="icons/connect.png"
            id="de.fu_berlin.inf.dpp.ui.NetworkViewView"
            name="Network Monitor"/>-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.RosterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.fu_berlin.inf.dpp.ui.SessionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.fu_berlin.inf.dpp.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="Saros.menu1"
               label="Saros.menu1"/>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.NewSessionAction"
               icon="icons/transmit.png"
               id="Saros.action1"
               label="Share project...">
         </action>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.PartialNewSessionAction"
               icon="icons/transmit.png"
               id="Saros.action2"
               label="Share project partially...">
         </action>
         <visibility>
               <objectClass name="org.eclipse.core.resources.IProject"/>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            id="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectDecorator"
            label="Shared Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IProject"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectFileDecorator"
            id="de.fu_berlin.inf.dpp.ui.decorators.SharedProjectFileDecorator"
            label="Shared Project File Decorator"
            lightweight="true"
            state="true">
         <enablement>
      	   	<objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fu_berlin.inf.dpp.ui.PreferencePage"
            id="de.fu_berlin.inf.dpp.preferences"
            name="Saros"/>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.ui.AdvancedPreferencePage"
            id="de.fu_berlin.inf.dpp.preferences.advanced"
            name="Advanced"/>
      <page
            category="de.fu_berlin.inf.dpp.preferences"
            class="de.fu_berlin.inf.dpp.ui.FeedbackPreferencePage"
            id="de.fu_berlin.dpp.preferences.feedback"
            name="Feedback">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.fu_berlin.inf.dpp.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.fu_berlin.inf.dpp.actionSet"
            label="Saros"
            visible="true">
         <menu
               id="de.fu_berlin.inf.dpp.menu"
               label="Saros">
            <separator name="de.fu_berlin.inf.dpp.menu.group"/>
         </menu>
         <action
               class="de.fu_berlin.inf.dpp.ui.actions.NewAccountAction"
               icon="icons/vcard_add.png"
               id="de.fu_berlin.inf.dpp.ui.actions.createAccountAction"
               label="&amp;Create Account"
               menubarPath="de.fu_berlin.inf.dpp.menu/de.fu_berlin.inf.dpp.menu.group"
               />
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="de.fu_berlin.inf.dpp.editor.internal.SharedDocumentProvider"
            id="Saros.shared_document_provider"
            inputTypes="org.eclipse.ui.IFileEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.viewport.5"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.contribution.5"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.1"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.2"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.3"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.4"/>
      <type name="de.fu_berlin.inf.dpp.annotations.selection.5"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.1"
            colorPreferenceValue="255,128,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.1"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.1"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.1"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.2"
            colorPreferenceValue="128,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.2"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.2"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.2"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.3"
            colorPreferenceValue="128,128,255"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.3"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.3"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.3"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.4"
            colorPreferenceValue="255,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.4"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.4"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.4"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.viewport.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.color.5"
            colorPreferenceValue="128,255,255"
            contributesToHeader="true"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.highlight.5"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="DPP Viewport"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.text.5"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.viewport.ruler.5"
            verticalRulerPreferenceValue="true"/>

      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler"
            colorPreferenceValue="211,224,234"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceValue="false"/>
      
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.1"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.1"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.1"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.1"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.1"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.1"
            colorPreferenceValue="255,200,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.2"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.2"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.2"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.2"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.2"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.2"
            colorPreferenceValue="200,255,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.3"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.3"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.3"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.3"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.3"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.3"
            colorPreferenceValue="200,200,255"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
       <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.4"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.4"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.4"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.4"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.4"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.4"
            colorPreferenceValue="255,255,200"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.contribution.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.color.5"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.highlight.5"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.overview.5"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.text.5"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.textstyle.5"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.contribution.ruler.5"
            colorPreferenceValue="200,255,255"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP User"
            overviewRulerPreferenceValue="false"
            presentationLayer="7"
            textPreferenceValue="true"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="false"/>
      
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.1"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.1"
            colorPreferenceValue="255,128,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.1"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of remote user 1"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.1"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.1"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.1"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.1"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.2"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.2"
            colorPreferenceValue="128,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.2"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of remote user 2"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.2"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.2"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.2"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.2"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.3"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.3"
            colorPreferenceValue="128,128,255"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.3"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of remote user 3"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.3"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.3"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.3"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.3"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.4"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.4"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.4"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of remote user 4"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.4"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.4"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.4"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.4"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="de.fu_berlin.inf.dpp.annotations.selection.5"
            colorPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.color.5"
            colorPreferenceValue="128,255,255"
            contributesToHeader="false"
            highlightPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.highlight.5"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="DPP Selection of remote user 5"
            overviewRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.overview.5"
            overviewRulerPreferenceValue="true"
            presentationLayer="8"
            textPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.text.5"
            textPreferenceValue="true"
            textStylePreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.textstyle.5"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.fu_berlin.inf.dpp.annotations.selection.ruler.5"
            verticalRulerPreferenceValue="false"/>

   </extension>
   <extension
         id="de.fu_berlin.inf.dpp.modelProvider"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider class="de.fu_berlin.inf.dpp.project.internal.SharedModelProvider"/>
      <enablement>
         <instanceof value="org.eclipse.core.resources.IResource"/>
      </enablement>
   </extension>
   <extension
         id="de.fu_berlin.inf.dpp.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="de.fu_berlin.inf.dpp.StartupSaros">
      </startup>
   </extension>
</plugin>
