/* Override Bootstrap variables */

/* Custom variables */
$saros-color: #0090ff;

$link-color-active: $saros-color;
$link-color: #343a40;
$default-background: $saros-color; 
$table-border-color: #dfe2e5;
$header-color: #222;