@import "bootstrap.css";
@import "bootstrap-theme.css";
@import "jstree.css";

body {
	font-size: 12px;
	line-height: 1.2;
}

h4 {
	margin-left: 10px;
}

label {
	display: block;
}

label span {
	display: inline-block;
	width: 200px;
}

label input {
	width: 300px;
	font-weight: normal;
}

.btn-list {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.footer button, .btn-list button {
    float: right;
    margin-left: 10px;
}

.font-bold {
    font-weight: bold !important;
}

/* Wizards */
div.wizard-content {
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}

/* Bootstrap customization */
.navbar {
	margin-bottom: 10px;
}

.modal-header, .modal-body, .modal-footer {
	padding: 10px;
}

.panel-heading
{
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
