@import "bootstrap.css";
@import "bootstrap-theme.css";
@import "jstree.css";

body {
    font-size: 12px;
    line-height: 1.2;
}

h4 {
    margin-left: 10px;
}

label {
    display: block;
}

label span {
    display: inline-block;
    width: 200px;
}

label input {
    width: 300px;
    font-weight: normal;
}

.info {
    margin-bottom: 15px;
}

div.content-container {
    top: 100px;
    bottom: 50px;
    width: 100%;
    position: absolute;
    overflow: scroll;
}

.btn-list {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.footer button, .btn-list button {
    float: right;
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    padding: 10px;
}

.font-bold {
    font-weight: bold !important;
}

/* Bootstrap customization */
.container {
    padding: 10px;
    width: 100%;
}

.list-group {
    width: 300px;
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 0 10px 10px 10px;
    margin-bottom: 0;
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px;
}

.panel-heading
{
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
