body {
	font-size: 12px;
	line-height: 1.2;
}

h4 {
	margin-left: 10px;
}

label {
	display: block;
}

label span {
	display: inline-block;
	width: 200px;
}

label input {
	width: 300px;
	font-weight: normal;
}

.font-bold {
	font-weight: bold !important;
}

/* Bootstrap customization */
.navbar {
	margin-bottom: 10px;
}

.modal-header, .modal-body, .modal-footer {
	padding: 10px;
}