---
---

$link-color-active: #007bff;
$link-color: #343a40;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

footer {
  width: 95%;
  bottom: 0;
  position: absolute;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  border: 1px solid #dfe2e5;
  margin-bottom: 20px;
}

th {
   padding: 10px;
   border: 1px solid #dfe2e5;
}

td {
   padding: 10px;
   border: 1px solid #dfe2e5;
}


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.jumbotron-index {
  text-align: center;
  background: #fff;
}

.no-underline {
  text-decoration: none !important;
}

/* GitHub banner*/
.fixed-top {
  /* Avoid that the forkme banner is covered by the navbar*/
  z-index: 1;
}

.forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.forkme_banner i {
  font-size: 1.5em;
}

/* navigation bars */
.logo span {
  color: #222222;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;

}

.logo img {
  float: left;
  width: 40px;
  height: 40px;
  border-style: none;
  box-shadow: none;
}

.bg-blue {
  background: rgba(0, 144, 255, 0.2)
}

/* sidebar */

.collapsable-side-item:before {
   font-family: "Font Awesome 5 Free";
   content: "\f078";
   float:right;
   margin-right: 6px;
}

.toc-bar {
  display: none;
}

@media (min-width: 1200px) {
  .toc-bar {
    display: block !important;
  }
}

$mobile-width: 690px;

@media (max-width: $mobile-width) {
  #media-links-nav {
    display: none !important;
  }

  #nav-widescreen-content {
    display: none !important;
  }
}

@media (min-width: $mobile-width) {
  #nav-mobile-content {
    display: none !important;
  }
}

.main-content, .sidenav, .toc-bar {
  margin-top: 40px;
}

.sidenav, .toc-bar {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 30px;
}

.sidenav ul, .toc-bar ul {
  list-style-type: none;
}

.sidenav a {
  display: block;
  color: $link-color;
}

.sidenav a:hover {
  color: $link-color-active;
  text-decoration: underline;
}

.active-sidelink {
  color: $link-color-active !important;
}

.toc-bar ul {
  padding-left: 10px;
}

.toc-bar a {
  text-decoration: none;
  display: block;
}

.toc-bar a {
  color: #6c757d;
}

.toc-bar a:hover {
  color: $link-color-active;
}

/* Multiversion tabs */

// Avoid gap between border of tab and content
.tab-content > .tab-pane {
  margin-top: 0px;
  padding-top: 10px;
}

.nav-link {
  color: $link-color;
}

.nav-link.active {
  color: $link-color-active !important;
}
