<div>
  <div data-hook="wizard-container" class="wizard-content">
    <div data-hook="project-trees-container"></div>
    <div data-hook="contacts-container"></div>
  </div>
  <footer class="footer panel-footer"><button type="button" data-hook="finish" class="btn btn-primary btn-sm">{{d.action.finish}}</button><button type="button" data-hook="cancel" class="btn btn-danger btn-sm">{{d.action.cancel}}</button><button type="button" data-hook="next" class="btn btn-default btn-sm">{{d.action.next}}</button>
    <button
      type="button" data-hook="back" class="btn btn-default btn-sm">{{d.action.back}}</button>
  </footer>
</div>