div
    div.wizard-content(data-hook="wizard-container")
        div(data-hook="project-trees-container")
        div(data-hook="contacts-container")
    footer.footer.panel-footer
        button.btn.btn-primary.btn-sm(type="button", data-hook="finish")
            = d.action.finish
        button.btn.btn-danger.btn-sm(type="button", data-hook="cancel")
            = d.action.cancel
        button.btn.btn-default.btn-sm(type="button", data-hook="next")
            = d.action.next
        button.btn.btn-default.btn-sm(type="button", data-hook="back")
            = d.action.back
