{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-tag-spacing": [ 2, {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never"
    }]
  }
}
