.wizard-step .navbar {
  margin:0;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  z-index: 2;
}

.wizard-step .footer {
  bottom: 0;
}

.wizard-step .header {
  top: 0;
}

.wizard-step .wizard-body {
  overflow: auto;
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
}
